/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        dot: dot {
            compatible = "zmk,behavior-tap-dance";
            label = "DOT";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp COMMA>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P        &kp G        &kp J        &kp L  &kp U     &kp Y  &kp SEMICOLON  &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S     &mt LSHFT T  &kp D        &mt H LSHFT  &kp N  &kp E     &kp I  &kp O          &kp SQT
&kp LSHFT  &kp Z  &kp Z  &kp C     &kp V        &kp B        &kp K        &kp M  &kp X     &dot   &kp FSLH       &kp ESC
                         &kp LGUI  &mo 1        &kp SPACE    &lt 0 SPACE  &mo 0  &kp RALT
            >;
        };

        numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp DEL  &kp DOT  &kp MINUS  &kp LS(PLUS)  &kp LS(UNDER)  &none        &none     &none   &none     &none   &none   &none
&none    &kp N0   &kp N1     &kp N2        &kp N3         &kp N4       &kp N5    &kp N6  &kp N7    &kp N8  &kp N9  &trans
&none    &trans   &trans     &kp FSLH      &trans         &trans       &kp FSLH  &trans  &kp X     &trans  &trans  &trans
                             &kp LGUI      &trans         &kp SPACE    &kp RET   &trans  &kp RALT
            >;
        };

        navigation {
            bindings = <
&trans  &trans             &trans             &trans         &trans         &trans           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LG(LC(LS(J)))  &kp LS(LC(LG(H)))  &kp LG(LA(J))  &kp LA(LG(H))  &kp LG(LC(R))    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans             &trans             &trans         &trans         &trans           &trans  &trans  &trans  &trans  &trans  &trans
                                              &trans         &trans         &trans           &trans  &trans  &trans
            >;
        };

        symbols {
            bindings = <
&trans  &kp LS(TILDE)  &kp LS(AMPS)     &kp LS(STAR)   &kp SQT      &kp LS(QMARK)    &kp BSLH      &kp LS(PIPE)   &kp LS(LEFT_BRACE)  &kp RIGHT_BRACE  &kp LS(COLON)  &trans
&trans  &kp PERCENT    &kp LS(UNDER)    &kp LS(CARET)  &kp DOT      &kp EQUAL        &kp LS(PLUS)  &kp MINUS      &kp LS(LPAR)        &kp LS(RPAR)     &kp LS(DLLR)   &trans
&trans  &trans         &kp EXCLAMATION  &kp LS(AT)     &kp LS(DQT)  &kp GRAVE        &kp FSLH      &kp LS(POUND)  &kp LBKT            &kp RBKT         &trans         &trans
                                        &trans         &trans       &trans           &trans        &trans         &trans
            >;
        };
    };
};
